.card-producto{
    border: 1px black solid;
    border-radius: 10%;
    margin: 1rem;
}
img{
    max-width: 100%;
    height: auto; 
    display: block; 
    margin: 0 auto;
}

.card-body{
    align-items: center;
}

.card-title{
    font-size: 1.1rem;
    text-align: center;
}
.card-text{
    font-size: 1rem;
    text-align: center;
}

.card-price{
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

button{
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: skyblue;
    color: black;
    border-radius: 20px;
}
